# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
.vscode
.idea

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/heroku
/backup mongodb data


# Docker
Dockerfile
docker-compose.yml
